.home {
 display: flex;
 justify-content: center;
 align-items: center;
}

.boxContainer {
  max-width: 80vw;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  border: 1px solid aqua;
  padding: 10px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(35 55 80 / 30%) 0px 6px 12px;
}

.top {
  text-align: center;
}

.select {
  padding: 11px;
  border: 1px solid #333;
  border-radius: 8px;
  font-size: 16px;
}