.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
  padding: 50px;
}

.inputHolder {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 2px;
}

.label {
  font-size: 18px;
  font-family: sans-serif;
}

.input {
  border: 1px solid #333;
  border-radius: 8px;
  padding: 12px;
  width: 150px;
  font-size: 16px;
}

.select {
  padding: 11px;
  border: 1px solid #333;
  border-radius: 8px;
  font-size: 16px;
}

.convertBtn {
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  background-color: rgb(70, 187, 187);
  color: aliceblue;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.convertBtn:hover {
  background-color: rgb(70, 167, 167);
}

